body{
    font-family: Montserrat, sans-serif;  
    color: #000;
    line-height: 1.8;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    color: #000;
  }

}
.navbar li a, .navbar .navbar-brand {
  color: #000 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #000 !important;
  background-color:rgb(165, 163, 163) !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: rgb(165, 163, 163) !important;
}

/* .jumbotron{
  background-image: url("https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  height: 600px;
  overflow: hidden;
} */


.jumbotron{
  width: 100%;
  overflow: hidden;
}

.jumbotron .jumImg{
  margin: -400px;
}


 .jumbotron span {
  position: absolute;
  margin: 0 auto;
  /* top:20px;
  left: 15px; */
 }